@charset "utf-8";

@mixin inline-block {
	display: inline-block;
	@if $legacy {
		display: inline;
		zoom: 1;
	}
}

@mixin min-height($minHVal: auto) {
	@if $legacy {
		height: $minHVal;
	}
	min-height: $minHVal;
}

@mixin opacity($opVal: 0.8) {
	opacity: $opVal;
	@if $legacy {
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opVal*100});
	}
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opVal*100})';
}

@mixin border-radius($radiusVal: 4px) {
	-webkit-border-radius: $radiusVal;
	border-radius: $radiusVal;
}



// Layout
@mixin layout-pattern($areaWidth, $colNum, $colGap, $childEle: li) {
	$colAreaWidth: $areaWidth + $colGap;
	overflow: hidden;
	margin-right: -#{$colGap};
	@if $legacy {
		width: $colAreaWidth;
		zoom: 1;
	}
	#{$childEle} {
		$colWidth: $colAreaWidth / $colNum - $colGap;
		width: floor($colWidth);
		margin-right: $colGap;
		@content;
	}
}


// Button
@mixin button($buttonBg) {
	@include border-radius;
	background: $buttonBg;
	padding: 2px 8px;
	@if lightness($buttonBg)  <= 50% {
		color: $c5;
		border: 1px solid darken($buttonBg, 20%);
	} @else {
		color: $c1;
		border: 1px solid darken($buttonBg, 20%); 
	}
}


// Dummy Text
@if $dummy {
	$headline: h1, h2, h3, h4, h5, h6;
	$item: p, li;
	
	%headline {
		content: 'Headline Item';
	}
	
	%item {
		content: '以下の文章はサンプルです。内容は適切に書き変われます。いろはにほへと ちりぬるを わかよたれそ つねならむ うゐのおくやま けふこえて あさきゆめみし ゑひもせす';
	}
	
	$headlineSet: '';
	@each $headlineSet in $headline {
		#{$headlineSet}:empty:before {
			@extend %headline;
		}
	}
	
	$itemSet: '';
	@each $itemSet in $item {
		#{$itemSet}:empty:before {
			@extend %item;
		}
	}
}



